.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    display: none !important;
}
.dropdown-toggle .bi-chevron-down { 
    margin-left: 3.1px;
    font-size: 11px;
}

/* .navbar-nav .dropdown-menu {
    min-width: 185px; 
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px); 
    transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
    margin-top: 2px; 
} */
.navbar-nav .dropdown-menu {
    min-width: 185px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
    margin-top: 2px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(5px); 
}

/* .dropdown-menu .dropdown-submenu .dropdown-menu {
    top: 5px; 
    left: 100%;
    margin-left: 0.2rem;
    min-width: 220px;
    display: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: 0.3s ease-in-out;
} */
.dropdown-menu .dropdown-submenu .dropdown-menu {
    top: 5px;
    left: 100%;
    margin-left: 0.2rem;
    min-width: 220px;
    display: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} 
.dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.dropdown-menu .dropdown-submenu .dropdown-menu a:hover {
    background-color: #7d3cff !important;  
    color: white !important;  
}