.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    display: none !important;
}
.dropdown-toggle .bi-chevron-down { 
    margin-left: 3.1px;
    font-size: 11px;
}

/* Ensure dropdown width is larger */
.navbar-nav .dropdown-menu {
    min-width: 250px; /* Adjust as needed */
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px); /* Increase this value to make it open lower */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
    margin-top: 2px; /* Extra spacing */
}

/* Keep dropdown open on hover with animation */
.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(5px); /* Opens slightly lower */
}

/* Submenu dropdown adjustments */
.dropdown-menu .dropdown-submenu .dropdown-menu {
    top: 5px; /* Adjusts vertical position of submenu */
    left: 100%;
    margin-left: 0.2rem;
    min-width: 220px;
    display: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: 0.3s ease-in-out;
}

/* Keep submenu open on hover with animation */
.dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
